[submodule "generator-library"]
	path = generator-library
	url = nju33.github:nju33/generator-library.git
[submodule "generator-diz"]
	path = generator-diz
	url = nju33.github:nju33/generator-diz.git
[submodule "generator-maguplugin"]
	path = generator-maguplugin
	url = nju33.github:nju33/generator-maguplugin.git
